@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

header, main, footer {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Varela Round', sans-serif;
    background-color:white;
}

header {
    background-color: #e5c2d4;
    height: 60px;
    display: block;
}


#botonera {
    height: 50px;
    width: auto;
}

#botonera ul{
    list-style-type: none;
    padding: 0;
}

#botonera ul li{
    display: inline;
    float: right;
    margin-top: 10px;
}

#botonera ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
}

#banner {
    text-align: center;
    display: block;
    background-color: #e5e5e5;
    background-image: url(../img/fondo.png.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    margin-top: auto;
    background-size: cover;
    margin-bottom: auto;
}


h1 {
    font-size: 35px;
    margin-top: auto;
    text-align: center;
}

h2{
    font-size: 20px;
    margin-top: 40px;
    padding: 10px;
    text-align: left;
}

h1,h2 {
    font-style: normal;
    letter-spacing: 3px;
    font-weight: bold;
    background-color:  #e5c2d4;
    color:white;
}


.fotocv {
    height: 152px;
	padding: 10px;
	box-sizing: border-box;
    margin-left: 20px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    margin-top: 50px;
}


.estructura {
    text-align: left;
}

.datos_personales {
    font-style: italic;
}

ul{
    display: block;
}

span {
    font-weight: bold;
}

dl {
    display: block;
}

dt {
    display: block;
}

dd {
    display: block;
    margin-inline-start: 0px;
}


footer {
        text-align: center;
        margin-top: 30px;
        font-size: 24px;
        color: white;
        background-color: #e5c2d4;
        height: 60px;
        display: block;
}

a:-webkit-any-link {
    cursor: pointer;
}

p{
    display: block;
}



#redes {
        height: 80px;
        width: 600px;
}
#redes ul{
        margin-top: 0;
        padding: 0;
        list-style-type: none;
    }
    
#redes ul li{
        display: inline;
        float: right;
    }
    
#redes ul li a{
        display: inline-block;
        text-decoration: none;
        color: #000000;
        padding: 20px 25px;
        text-align: center;
    
    }
