/*Estilos css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@font-face{
    src: url("../fonts:\ Inter/Inter-Bold");
    font-family: "Inter-Bold";
}

/* header*/


/*Main*/

.banner{
    background-color: wheat;
    background-image: url("../img/lemon-pie\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 460px;
}

body {
    font-family:  'Inter', sans-serif;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}


footer{

}
